# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild
[Bb]uilds

/.vs/
ExportedObj/
.consulo/
*.csproj

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*.unityproj
*.sln
*.csproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.pidb.meta

sysinfo.txt
# Builds
*.apk
*.unitypackage

# ===================================== #
# Ignored Assets #
# ===================================== #
# Standard*Assets/ == not ignored this time because of the limited standard asset usage
SkyBox*Volume*2/
LightmapSnapshot.asset
LightmapSnapshot.asset.meta
Surforge
Fantasy Skybox FREE/
GE Common Assets/
GUI Animator/